@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Data Retrieval labs</p>
    <p>
        <a href="https://github.com/CoderLiQ/IR-2019" target="_blank">Link to source</a>
    </p>
</div>
